.layout {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem 29rem 14rem auto 7rem;
}
/* .layout > div {
  border: 2px solid red;
} */
/* .navbar {
  background-color: white;
}
.hero {
} */
/* .category {
  justify-items: center;
  align-items: center;
} */
/* .gallery {
  border: 2px solid red;
} */
